body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the main content */

p {
    margin-bottom: 500px;
}

.text {
    white-space: pre-line;
}

.big {
    font-size: 1.4em;
}
/* Additional styles for better presentation */
html {
    scroll-behavior: smooth;
} 

