body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the main content */

p {
    margin-bottom: 500px;
    font-family: Times New Roman;
}

.text {
    white-space: pre-line;
}

.big {
    font-size: 1.4em;
    font-weight: bold;
}

.pic {
    width:400px;
    height: 400px;
    margin-bottom: 200px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-left {
    width: 200px;
    height: 400px;
}

.text-right {
    max-width: 600px;
}

/* Additional styles for better presentation */
html {
    scroll-behavior: smooth;
} 

